.topo{
	margin-top: 10px!important;
}

textarea.observacoes{
	height: 50px!important;
	resize: none!important;
}

.bpm_input input{
	text-align: center!important;
}

.preto{
	background: #000!important;
}

.preto.gradiente{
	background: linear-gradient(to bottom, #252525, #000)!important;
}

#antropometria input[type="text"]{
	width: 75px!important;
	height: 30px!important;
}

#perimetria input[type="text"], #perimetria label{
	height: 30px!important;
	text-align: center!important;
}

textarea{
	resize: none!important;
}
.dobra_utilizada{
	background-color: #C7FF9D!important;
}

.background{
	background-image: url(../imagens/bg.jpg);
	background-size: cover;
}