<form class="ui form" method="POST" action="avaliacao_iniciar.php">
	<section class="ui attached segment">	
		<h2 class="ui center aligned icon header">
			<i class="user icon"></i>
			<section class="content">
				Iniciar avaliação de <?php print($cliente["nome"]); ?>
			</section>
		</h2>
	</section>
	<input type="hidden" name="vinculacao" value="<?php print($cliente['id_vinculacao']); ?>">
	<section class="ui two bottom attached buttons">
		<a class="ui gray big button" href="clientes.php">
			Cancelar
		</a>
		<input type="submit" value="Prosseguir" class="ui positive big button">
	</section>
</form>