<section>
	<form method="POST" action="#" class="ui inverted form">

	<section class="two fields">
		<section class="field">
			<label>Login</label>
			<section class="ui icon input">
				<i class="user icon"></i>
				<input type="text" name="login" required="required" maxlength="20" placeholder="Login...">
			</section>
		</section>

		<section class="field">
			<label>Senha</label>
			<section class="ui icon input">
				<i class="lock icon"></i>
				<input type="password" name="senha" required="required" maxlength="20" placeholder="Senha...">
			</section>
		</section>
	</section>

	<input type="submit" value="Entrar" class="ui medium red fluid submit button">

	<section class="ui divider"></section>

	<h2 class="ui inverted centered header">
		Ainda não possui cadastro?
		<section class="sub header">
			Não perca mais tempo!
		</section>
	</h2>

	<a href="usuario_cadastrar.php">
		<input type="button" value="Cadastrar" class="ui medium fluid button">
	</a>
</section>