<style type="text/css">
	
	input[name="data_nascimento"]:invalid{
		border-color: #E6B6B6!important;
	}

</style>
<form method="POST" action="#" class="ui form">
	<section class="ui orange segment">
		<section class="ui dividing header">Informações Pessoais</section>

		<section class="two fields">
			<section class="required field">
				<label>Nome</label>
				<section class="ui icon input">
					<i class="user icon"></i>
					<input type="text" name="nome" maxlength="50" required="required">
				</section>
			</section>
			<section class="required field">
				<label>Sobrenome</label>
				<section class="ui icon input">
					<i class="user icon"></i>
					<input type="text" name="sobrenome" maxlength="50" required="required">
				</section>
			</section>
		</section>

		<section class="two fields">
			<section class="required field">
				<label>Data de Nascimento</label>
				<section class="ui input">
					<input type="text" name="data_nascimento" placeholder="11/04/1990"  maxlength="10" required="required" pattern="^[0-9]{1,2}\/[0-9]{1,2}\/[0-9]{4}">
				</section>
			</section>

			<section class="required field">
				<label>Sexo</label>
				<select name="sexo" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$sexos = new Sexo();
						$lista_sexos = $sexos->listar($con);
						while($sexo = $lista_sexos->fetch_assoc())
							print('<option value="'.$sexo["id_sexo"].'">'.$sexo["desc_sexo"].'</option>');
					?>
				</select>
			</section>
		</section>

		<section class="two fields">
			<section class="required field">
				<label>Estado Civil</label>
				<select name="estado_civil" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$estados_civis = new Estado_civil();
						$lista_estados_civis = $estados_civis->listar($con);
						while($estado_civil = $lista_estados_civis->fetch_assoc())
							print('<option value="'.$estado_civil["id_estado_civil"].'">'.$estado_civil["desc_estado_civil"].'</option>');
					?>
				</select>
			</section>

			<section class="required field">
				<label>Etnia</label>
				<select name="etnia" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$etnias = new Etnia();
						$lista_etnias = $etnias->listar($con);
						while($etnia = $lista_etnias->fetch_assoc())
							print('<option value="'.$etnia["id_etnia"].'">'.$etnia["desc_etnia"].'</option>');
					?>
				</select>
			</section>
		</section>

		<section class="fields">
			<section class="four wide field">
				<label>CPF <i>(somente números)</i></label>
				<input type="text" name="cpf" placeholder="123.456.789-10" maxlength="14">
			</section>

			<section class="four wide field">
				<label>RG <i>(somente números)</i></label>
				<input type="text" name="rg" placeholder="1234567" maxlength="14">
			</section>
		</section>
	</section>

	<section class="ui yellow segment">
		<section class="ui dividing header">Informações para Contato</section>

		<section class="fields">
			<section class="eight wide field">
				<label>Email</label>
				<section class="ui icon input">
					<i class="at icon"></i>
					<input type="email" name="email" placeholder="cliente@mail.com" maxlength="50">
				</section>
			</section>

			<section class="four wide field">
				<label>Telefone</label>
				<input type="text" name="telefone" placeholder="(47) 3456-8790" maxlength="20">
			</section>

			<section class="four wide field">
				<label>Celular</label>
				<input type="text" name="celular" placeholder="(47) 9988-7766" maxlength="20">
			</section>
		</section>
	</section>

	<section class="ui purple segment">
		<section class="ui dividing header">Endereço</section>

		<section class="fields">

			<section class="ten wide field">
				<label>Rua/Avenida/Alameda</label>
				<input type="text" name="rua" maxlength="120" placeholder="Rua das Laranjeiras">
			</section>

			<section class="three wide field">
				<label>Número</label>
				<input type="text" name="numero" maxlength="5" placeholder="1234">
			</section>

			<section class="three wide field">
				<label>CEP</label>
				<input type="text" name="cep" maxlength="16" placeholder="89240000">
			</section>
			
		</section>

		<section class="fields">
			<section class="five wide field">
				<label>Bairro</label>
				<input type="text" name="bairro" maxlength="64" placeholder="Centro">
			</section>

			<section class="six wide field">
				<label>Cidade</label>
				<input type="text" name="cidade" maxlength="64" placeholder="Joinville">
			</section>

			<section class="five wide field">
				<label>Estado</label>
				<select name="uf" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$estados = new Uf();
						$lista_estados = $estados->listar($con);
						while($uf = $lista_estados->fetch_assoc())
							print('<option value="'.$uf["sigla_uf"].'">'.$uf["desc_uf"].'</option>');
					?>
				</select>
			</section>
		</section>

		<section class="field">
			<label>Observações - Endereço</label>
			<input type="text" name="observacoes" maxlength="100">
		</section>
	</section>

	<a href="painel.php">
		<input type="button" value="Cancelar" class="ui negative left floated button">
	</a>
	<input type="reset" value="Limpar" class="ui left floated orange basic button">

	<input type="submit" value="Registrar" class="ui positive right floated button">

</form>

<script type="text/javascript" src="static/js/forms.js "></script>