	<form method="POST" action="#" class="ui form">
		<section class="ui dividing header">Informações Pessoais</section>

		<section class="two fields">
			<section class="required field">
				<label>Nome</label>
				<section class="ui icon input">
					<i class="user icon"></i>
					<input type="text" name="nome" required="required">
				</section>
			</section>
			<section class="required field">
				<label>Sobrenome</label>
				<section class="ui icon input">
					<i class="user icon"></i>
					<input type="text" name="sobrenome" required="required">
				</section>
			</section>
		</section>

		<section class="two fields">
			<section class="required field">
				<label>Data de Nascimento</label>
				<section class="ui input">
					<input type="text" name="data_nascimento" placeholder="11/04/1990" required="required">
				</section>
			</section>

			<section class="required field">
				<label>Sexo</label>
				<select name="sexo" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$sexos = new Sexo();
						$lista_sexos = $sexos->listar($con);
						while($sexo = $lista_sexos->fetch_assoc())
							print('<option value="'.$sexo["id_sexo"].'">'.$sexo["desc_sexo"].'</option>');
					?>
				</select>
			</section>
		</section>

		<section class="two fields">
			<section class="required field">
				<label>Estado Civil</label>
				<select name="estado_civil" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$estados_civis = new Estado_civil();
						$lista_estados_civis = $estados_civis->listar($con);
						while($estado_civil = $lista_estados_civis->fetch_assoc())
							print('<option value="'.$estado_civil["id_estado_civil"].'">'.$estado_civil["desc_estado_civil"].'</option>');
					?>
				</select>
			</section>

			<section class="required field">
				<label>Etnia</label>
				<select name="etnia" class="ui dropdown">
					<option value="">Selecione...</option>
					<?php
						$etnias = new Etnia();
						$lista_etnias = $etnias->listar($con);
						while($etnia = $lista_etnias->fetch_assoc())
							print('<option value="'.$etnia["id_etnia"].'">'.$etnia["desc_etnia"].'</option>');
					?>
				</select>
			</section>
		</section>

		<section class="fields">
			<section class="four wide field">
				<label>CPF</label>
				<input type="text" name="cpf" placeholder="123.456.789-10">
			</section>

			<section class="four wide field">
				<label>RG</label>
				<input type="text" name="rg" placeholder="1.234.567">
			</section>
		</section>

		<section class="ui yellow segment">
			<section class="ui dividing header">Informações de Acesso</section>
			<section class="two fields">
				<section class="required field">
					<label>Login</label>
					<section class="ui icon input">
						<i class="user icon"></i>
						<input type="text" name="login" required="required">
					</section>
				</section>

				<section class="field">
					<label>Email</label>
					<section class="ui icon input">
						<i class="at icon"></i>
						<input type="email" name="email">
					</section>
				</section>
			</section>

			<section class="two fields">
				<section class="required field">
					<label>Senha</label>
					<section class="ui icon input">
						<i class="lock icon"></i>
						<input type="password" name="senha" required="required">
					</section>
				</section>

				<section class="required field">
					<label>Confirme a senha</label>
					<section class="ui icon input">
						<i class="lock icon"></i>
						<input type="password" name="confirmacao_senha">
					</section>
				</section>
			</section>

			<a href="index.php">
				<input type="button" class="ui left floated negative button" value="Cancelar">
			</a>
			<input type="reset" class="ui left floated basic orange button" value="Limpar">

			<input type="submit" class="ui right floated positive submit button" value="Registrar">
		</section>

	</form>