<section class="black row">
	<section class="twelve wide column">
		<h1 class="ui centered inverted header">
			<?php print($cli["nome"]." ".$cli["sobrenome"]); ?>
			<section class="sub header">
				<?php 
					print($cli["desc_sexo"].", ");
					print(idade($cli["data_nascimento"])." anos"); 
				?>
			</section>
		</h1>
	</section>
</section>
<section class="row">
	<section class="two wide column">
		<section class="ui fluid card">
			<section class="image">
				<img src="media/usuario/foto.jpg">
			</section>
		</section>
		<a href="avaliacao_iniciar.php?cliente=<?php print($cli["id_cliente"]); ?>">
			<button class="ui green fluid button">Avaliar</button>
		</a>
	</section>

	<section class="eight wide column">
		<section class="ui segment">
			<h3 class="ui header">
				<i class="user icon"></i>
				<section class="content">
					Informações pessoais
					<section class="sub header">Descrição pessoal do cliente</section>
				</section>
			</h3>

			<table class="ui definition table">
				<tbody>
					<tr>
						<td>Nome completo</td>
						<td><?php print($cli["nome"]." ".$cli["sobrenome"]); ?></td>
					</tr>
					<tr>
						<td>Data nascimento</td>
						<td><?php print($cli["data_nascimento"]); ?></td>
					</tr>
					<tr>
						<td>Sexo</td>
						<td><?php print($cli["desc_sexo"]); ?></td>
					</tr>
					<tr>
						<td>CPF</td>
						<td><?php print($cli["cpf"]); ?></td>
					</tr>
					<tr>
						<td>RG</td>
						<td><?php print($cli["rg"]); ?></td>
					</tr>
					<tr>
						<td>Etnia</td>
						<td><?php print($cli["desc_etnia"]); ?></td>
					</tr>
					<tr>
						<td>Estado civil</td>
						<td><?php print($cli["desc_estado_civil"]); ?></td>
					</tr>
				</tbody>
			</table>

			<h3 class="ui header">
				<i class="text telephone icon"></i>
				<section class="content">
					Informações de contato
					<section class="sub header">Formas de contatar o cliente</section>
				</section>
			</h3>

			<table class="ui definition table">
				<tbody>
					<tr>
						<td>Email</td>
						<td><?php print($cont["email"]); ?></td>
					</tr>
					<tr>
						<td>Telefone</td>
						<td><?php print($cont["telefone"]); ?></td>
					</tr>
					<tr>
						<td>Celular</td>
						<td><?php print($cont["celular"]); ?></td>
					</tr>
				</tbody>
			</table>

			<h3 class="ui header">
				<i class="marker icon"></i>
				<section class="content">
					Endereço
					<section class="sub header">Endereço do cliente</section>
				</section>
			</h3>

			<table class="ui definition table">
				<tbody>
					<tr>
						<td>Endereço</td>
						<td><?php print($end["rua"]." - nº ".$end["numero"]); ?></td>
					</tr>
					<tr>
						<td>CEP</td>
						<td><?php print($end["cep"]); ?></td>
					</tr>
					<tr>
						<td>Bairro</td>
						<td><?php print($end["bairro"]); ?></td>
					</tr>
					<tr>
						<td>Cidade</td>
						<td><?php print($end["cidade"]); ?></td>
					</tr>
					<tr>
						<td>Estado</td>
						<td><?php print($end["desc_uf"]); ?></td>
					</tr>
				</tbody>
			</table>

		</section>
	</section>
	<section class="four wide column">
		<section class="ui segment">
			<h3 class="ui header">
				<i class="edit icon"></i>
				Avaliações do Cliente
			</h3>

			<section class="ui divided list">
				<?php
				if(isset($avaliacoes)){
					if($avaliacoes->num_rows == 0){
						$mensagem = new Mensagem(2, "Sem avaliações!");
						$mensagem->addMensagem($cli["nome"]." ainda não foi avaliado!");
						$mensagem->getMensagem();
					}
					else{
						while($avaliacao = $avaliacoes->fetch_assoc()){
							print('<section class="item">');
							print('<section class="left floated content">');
							print('
							<a class="header" href="'.$avaliacao["id_avaliacao"].'">
								Avaliação ['.$avaliacao["id_avaliacao"].']
							</a>');
							print('<article>'.$avaliacao["nome"].'</article>');
							if($avaliacao["data_hora"] != null)
								print('às '.$avaliacao["data_hora"]);
							print('</section>
								<section class="right floated content">');
							if($avaliacao["id_status_avaliacao_id"] == 1)
								print('<button title="Avaliação incompleta" class="ui icon orange small button">
									<i class="warning icon"></i>
								</button>');
							print('</section>
							</section>');
						}
					}
				}
				?>
			</section>
		</section>
	</section>
</section>